{% extends 'page/layout.html.twig' %}

{% block main %}
    {% for post in posts %}
        <div class="card mb-4">
            <div class="card-body">
                <a class="text-dark" href="#">
                    <h2 class="mb-4">{{ post.name }}</h2>
                </a>
                {{ post.preview }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block aside %}
    {% include 'page/widgets/login.html.twig' %}
{% endblock %}